$palette = #222 #282828 #333 #383838 #aaa #d0d0d0 #e0e0e0 #fff;
$border-width = 2px;
$table-border = $border-width solid $palette[5];
$cell-size = 1.3em;
$head-size = 4.5em;

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

body, input, button {
  color: $palette[6];
  background-color: $palette[1];
}

label {
  display: flex;
  align-items: baseline;

  .label {
    flex-grow: 1;
    margin-right: 0.5em;
  }
}

input[type='checkbox'] { margin-right: 0.25em; }

.tempo input {
  width: 4em;
  padding: 0 0 0 0.1em;
}

button {
  height: 100%;
  width: 100%;
}

.controls {
  display: flex;
  align-items: flex-end;
}

fieldset {
  //display: flex;
  padding: 0.5em;
  border: none;
}

.noselect {
  cursor: default;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

// Layout

html, body {
  width: 100%;
  height: 100%;
}

.reich-app {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pattern-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}

.pattern-clap2 {
  overflow: auto;
}

// Pattern view

.pattern {
  border-left: $table-border;
  border-right: $table-border;
}

.arrow-row .pattern {
  border-top: $table-border;
}

.arrow-row {
  background-color: black;
  top: 0;
}

.arrow-row, .pattern-clap1 {
  position: sticky;
  left: 0;
  z-index: 1000;
  background-color: $palette[1];
}

.pattern-clap1 {
  top: $cell-size;
  border-top: $table-border;
  border-bottom: $table-border;

  &::after {
    position: absolute;
    content: '';
    bottom: "calc(-%s - %s)" % ($cell-size $border-width);
    left: "calc(%s + %s)" % ($head-size $border-width);
    width: $cell-size * 12;
    height: $cell-size;
    background: linear-gradient(
      180deg,
      $palette[1] 0%,
      rgba($palette[1], .95) 25%,
      rgba($palette[1], .8) 50%,
      rgba($palette[1], .6) 75%,
      rgba($palette[1], .1) 95%,
      transparent
    );
  }
}

//

.head, .cell, .pattern { display: inline-block; }

.head, .cell {
  text-align: center;
  height: $cell-size;
}

.head {
  width: $head-size;
  vertical-align: top;

  // Hack!
  position: relative;
  top: -2px;
}

.cell {
  width: $cell-size;
  vertical-align: middle;
}

.clap-row {
  &:not(.empty) .pulse {
    position: relative;

    &::before { content: '●'; }

    &.clap {
      color: $palette[7];
      &.highlight { color: $palette[8]; }
      &.hit-good, &.hit-ok, &.hit-bad, &.no-hit {
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '○';
          width: 100%;
        }
      }
      &.hit-good { color: #BAFFC9; }
      &.hit-ok { color: #FFFFBA; }
      &.hit-bad { color: #FFCE96; }
      &.no-hit { color: #FFB3BA; }
    }

    &.silence {
      color: $palette[3];

      &.hit-good, &.hit-ok, &.hit-bad, &.no-hit {
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '○';
          width: 100%;
        }
      }

      &.hit-good, &.hit-ok, &.hit-bad {
        color: #443133;
        &::after { color: rgba(#FFB3BA, 0.2); }
      }
      &.no-hit {
        color: #314433;
        &::after { color: rgba(#BAFFC9, 0.2); }
      }
    }
  }

  &.highlight .pattern {
    background-color: $palette[2];
    .silence { color: $palette[4]; }
  }
}

.padder {
  height: "calc(100vh - 2*%s - 4*%s)" % ($border-width $cell-size);
  .pattern { height: 100%; }
}
