$palette: (#222, #282828, #333, #383838, #aaa, #d0d0d0, #e0e0e0, #fff);
$border-width: 2px;
$table-border: $border-width solid nth($palette, 5);
$cell-size: 1.3em;
$head-size: 4.5em;

$play-stop-button-size: 2em;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input,
button {
  color: nth($palette, 6);
  background-color: #333;
  z-index: 9999;
}

label {
  display: flex;
  align-items: baseline;

  .label {
    flex-grow: 1;
    margin-right: 0.5em;
  }
}

input[type='checkbox'] {
  margin-right: 0.25em;
}

.tempo input {
  width: 4em;
  padding: 0 0 0 0.1em;
}

button {
  position: fixed;
  display: block;
  right: 0.5em;
  bottom: 0.5em;
  width: $play-stop-button-size;
  height: $play-stop-button-size;
  line-height: $play-stop-button-size;
  font-size: $play-stop-button-size;
  text-align: center;
  border-radius: 100%;
  background-color: #282828;
}

.controls {
  display: flex;
  align-items: flex-start;
  z-index: 2000;
  background-color: #222;
}

fieldset {
  //display: flex;
  padding: 0.5em;
  border: none;
}

.noselect {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Layout

html,
body {
  width: 100%;
  height: 100%;
}

.reich-app {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}

.patterns {
  background-color: #222;
}

.clap2 .patterns {
  padding-top: $cell-size;
  padding-bottom: calc(100vh - 4 * #{$cell-size});
}

.rest::before {
  content: '';
  display: block;
  width: 100%;
  height: $cell-size;
}

/**/

.clap1 {
  z-index: 500;
}

.clap2 {
  z-index: 200;
}

/**/

.clap1 .head,
.clap1 .rest::before {
  margin-top: $cell-size;
}

.clap2 .head,
.clap2 .rest::before {
  margin-top: calc((1 + var(--pattern)) * #{$cell-size});
}

/**/

.clap1 .head,
.clap1 .rest::before {
  background-color: #0e4866;
}

.clap2 .head,
.clap2 .rest::before {
  background-color: #672f2f;
}

/**/

.clap1 .heads::after {
  box-shadow: -10px 10px 40px -10px #000 inset;
}

.clap1 .rest::after {
  box-shadow: 10px 10px 40px -10px #000 inset;
}

.clap2 .heads::after {
  box-shadow: -10px 0px 40px -10px #000 inset;
}

.clap2 .rest::after {
  box-shadow: 10px 0px 40px -10px #000 inset;
}

/**/

.cell {
  display: inline-block;
  width: $cell-size;
  height: $cell-size;
  text-align: center;
}

.head {
  line-height: $cell-size;
  width: $head-size;
  height: $cell-size;
  text-align: center;
}

.rest {
  flex-grow: 1;
}

.heads::after,
.rest::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.heads,
.rest {
  position: relative;
  top: 0;
  left: 0;
}
